* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.postcard {
    height: 100vh;
    width: 100%;
    background: url(img/images\ \(3\).jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postcard_content {
    background-color: rgba(255, 255, 255, 0.42);
    max-width: 400px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.5s;
    position: relative;
    overflow: hidden;
}

.star {
    width: 150px;
    animation: scaleBlock 3s infinite;
}

.postcard_title {
    font-family: "Montserrat", sans-serif;
    animation: textShadow 2s infinite;

}

.postcard_text {
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    
}

.postcard_btn {
    font-family: "Montserrat", sans-serif;
    border-radius: 14px;
    padding: 10px;
    margin-top: 10px;
    animation: fadeIn 2s;
}

.postcard_content:hover {
    transform: scale(1.1);
}

.postcard_soldier {
    max-width: 200px;
    position: absolute;
    bottom: 0;
    right: 50px;
        animation: scaleBlock 5s infinite;

    
}

.postcard_tank {
    max-width: 200px;
    position: absolute;
    top: 10px;
    right: 50px;
}
.confetti div{
    width: 10px;
    height: 10px;
    background: green;
    opacity: 0.6;
    position: absolute;
    animation: confettiFall 3s linear infinite;
}
.confetti div:first-child{
    left: 10%;
}
.confetti div:nth-child(2){
background-color: aqua;
left: 30%;
}
 .confetti div:nth-child(3) {
     left: 50%;
     animation-delay: 1s;
     background: #2ecc71;
 }

 .confetti div:nth-child(4) {
     left: 70%;
     animation-delay: 1.5s;
     background: #3498db;
 }

 .confetti div:nth-child(5) {
     left: 90%;
     animation-delay: 2s;
     background: #9b59b6;
 }
        @keyframes confettiFall {
            0% {
                transform: translateY(-100%) rotate(0deg);
                opacity: 1;
            }
    
            100% {
                transform: translateY(500px) rotate(720deg);
                opacity: 0;
            }
        }



@keyframes textShadow {

    0%,
    100% {
        text-shadow: 0px 0px 10px rgb(20, 66, 6);
    }

    50% {
        text-shadow: 0px 0px 25px rgb(20, 66, 6);
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes scaleBlock{
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}